* {
  margin: 0;
  padding: 0;
}
body {
  /* background-image: url("logIn_Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed; */
  background: url(logIn_Background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-img {
  position: absolute;
  height: 100vh;
  z-index: -1;
  width: 55%;
}
/* .bg {
  position: absolute;
  z-index: -2;
  right: 0;
} */
/* *****Login Card Div********* */
.logcard {
  padding-bottom: 1%;
  background-color: rgb(255, 252, 252);
  display: inline-block;
  width: 30%;
  margin: 10% 0% 0% 15%;
  /* padding: 0 2% 3% 2%; */

  /* margin: auto; */
  min-width: 350px;
  text-align: center;
  box-shadow: 2px 2px 2px 2px rgb(153, 150, 150);
  border-radius: 5px;
  /* border: 1px solid black; */
}
.top-bar {
  background-color: rgb(154, 158, 158);
  height: 10%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
/* ******Header text "KitabWala" ***** */
.heading {
  background-color: #000;
  color: #fff;
  font-family: "lato";
  font-weight: 600;
}
.head-small {
  font-weight: 300;
}
/* ************Header Ends***************** */
/* ********FORM***** */
.form {
  margin-top: 10%;
}
.entry {
  width: 75%;
  padding: 1%;
  margin-top: 3%;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
}
.entry:focus {
  outline: none;
}
.log-btn {
  padding: 1% 5%;
  color: #fff;
  font-size: 20px;
  background-color: rgb(35, 30, 30);
  border-radius: 7px;
  margin: 5% 0 5% 0;
  width: 75%;
}
.userpass {
  margin-bottom: 10px;
}
/* ******Form Ends******* */
/* ******Remember Check box and forgot password link********** */
.bottom_check {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  font-size: 15px;
}
.remember {
  border: 1px solid black;
}
.remember:checked {
  accent-color: rgb(0, 0, 0);
  /* border: 1px solid black; */
}
.forgotpass {
  color: rgb(87, 86, 86);
  text-decoration: underline;
}
.forgotpass:hover {
  color: black;
}
/* ********Remember and forgot password ends************* */
/* ****Social Media icons*********** */
.socialmedia {
  margin: auto;
  display: flex;
  width: 30%;
  justify-content: space-around;
}
.fa {
  font-size: 25px;
}
.fa-google {
  color: rgb(197, 41, 41);
}

.fa-facebook {
  color: rgb(16, 40, 119);
}
/* ********Social Media icons ends********** */
/* before and after line */
.option {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: rgb(64, 64, 64);
}
.option:before {
  /* display: inline-block; */
  content: " ";
  height: 2px;
  width: 35%;
  /* position: relative; */
  top: 50%;
  left: 0;
  background: rgb(64, 64, 64);
}
.option:after {
  content: " ";
  height: 2px;
  width: 35%;
  background: rgb(64, 64, 64);
  display: inline-block;
  /* position: relative; */
  top: 50%;
  right: 0;
}
/* before and after tag ends here */

/* new usertag */
.newuser {
  text-align: center;
  margin-top: 5%;
  font-weight: 400;
  margin-bottom: 5px;
  color: rgb(90, 88, 88);
}

/* signup button */
.signup-btn {
  padding: 1% 5%;
  margin-bottom: 5%;
  font-size: 20px;
  font-weight: 700;
  width: 75%;
  background-color: #cc9900;
  color: white;
  border-radius: 7px;
}
/* ********LogIn Card Ends********** */
