*{
    padding: 0;
    margin: 0;
}


.head{
    /* Header */
    background-color: #282A35;
    display: flex;
    z-index: 1;
    align-items: center;
    position: sticky;
    top: 0;
    height: 60px;
}

#icon{
    /* Site Icon */
    width: 50px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 12px;
    margin-left: 10%;

}

#icontext{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.search{
    display: flex;
    flex: 1;
    align-items: baseline;
    margin: 5px;
    margin-left: 3rem;
}
.searchbar{
    width: 60%;
    min-width: 10rem;
}

.fa-sharp{
    color: white;
    margin-left: 8px;
}
.cart{
  font-size: xx-large;
  
}
.topbar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 10%;
}

.header_option{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    color:  white;
}
.topKW{
  background-image: url("images/Homebackground.png");
  background-attachment: fixed;
  background-size: cover;
  text-align:center;
  height: 10%;
color:white;

margin-bottom:-10px;
padding-top:50px;
padding-bottom:100px;
}
.HomeOption{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.opimg{
  display: flex;
  flex-direction: column;
  position:relative;
  overflow: hidden;
  width: 50%;
  height: 30%;
}
.cat-img{
  
  filter: blur(0.8px);
  transition: all 0.5s;
}
.cat-img:hover{
  transform: scale(105%);
}
.optext{
  position: absolute;
  align-self: center;
  margin-top: 23%;
  color: black;
  
}
/* Showcase Of Books Starts */
.showcase{
  text-align: center;
  padding:10px 100px 10px 100px;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: repeat(2,1fr);
  column-gap: 10px;
  row-gap: 10px;
background-color: 	rgba(255, 255, 255, 0.5);
}

/* .row{
  /* text-align: center;4 */
  
  /* padding-top:2.5rem;
  padding-bottom: 2.5rem;
  padding-right: 0;
   */

/* }
.show{
  padding-left: 0px;
  padding-right: 0px;
  background-color: #fff;
  /* align-items: center; */
  /* width:120% !important;
  margin: 20px; */
  /* height: 10%; */
/* } */ 
.books{
  box-shadow: 2px 2px 2px 2px rgb(187, 186, 186);
  padding: 20px;
  background-color: #fff;
  place-self: center;
  width: 70%;
  border-radius: 2%;
  margin-bottom: 30px;
  transition: all .5s;
}

.books:hover{
  transform: scale(105%);
}
/* End Show */
/* kw starts */
.KW{
  background-image: url("images/texture.png");
  text-align:center;
  line-height: 0.9rem;
color:white;
margin-top: auto;
margin-bottom:-10px;
padding-top: 5rem;
padding-bottom:5rem;
}
.tittle{
  font-size:10rem;
  font-weight: normal;
}
/* kw end */

/* footer */
.footer {
  background-color: #282A35;
  color: white;
  padding-bottom: 2rem;
  padding-top: 50px;
  padding-bottom: 100px;
}
/* copyright */
.copyright {
  background-color: #282A35;
  text-align: center;
  color: white;
  font-size: 12px;
  padding-bottom: 5px;
  margin-bottom:0;
}

.container {
  text-align: center;
}
/* Subscribe */
button {
  background-color: white;
  color: black;
}
/* icon */
.f-icon {
  text-align: center;
  padding: 10px;
}
/* forms starts */
.grid_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  /* grid-template-rows: repeat(3, 1fr); */
}

.row1 {
  grid-row: 1;
}
.row1 {
  grid-row: 1;
}
.row1 {
  grid-row: 1;
}

.cols1 {
  grid-column: 1;
}
.rows {
  margin-top: 4px;
}
/* forms end */

/* footer ends */
